<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title></title>

        <!-- Последняя компиляция и сжатый CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Дополнение к теме -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Последняя компиляция и сжатый JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity=								"sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Custom styles for this template -->
    <link href={{url_for('static', filename = 'osnovnaya.css')}} rel="stylesheet">
	<link rel="stylesheet" type="text/css" href={{url_for('static', filename = 'imgareaselect-default.css')}}>    <!-- стиль для скрпта обрезки фото -->
  
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top stnavbar" >
	
      <div class="container-fluid stnavbar">
		
		<div class="navbar-header">
          
          <div class="navbar-brand" ><div class="stnavbar">Conspect structure</div> </div>  
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
			<form class="form-signin">
				<img src={{url_for('static', filename = 'Photo/-AW7FLYCB-8.png')}} class="foto">
				<br>
				<br>
				
				<a class="btn btn-lg btn-primary btn-block cnopka" href="{{ url_for('index') }}" >Основная</a>
				<br>
					<label for="upload" ><div class="btn btn-lg btn-primary btn-block cnopka"> Загрузить фото </div></label>
					<input style="opacity: 0; z-index: -1; none" type="file" accept=image/* name="upload" id="upload">
					<!-- часть для обрезки фото -->
									<!-- ширина(w) и высота(h) картинки -->
									<input type="hidden" name="w" value="" />
									<input type="hidden" name="h" value="" />
									<!-- левый верхний угол -->
									<input type="hidden" name="x1" value="" />
									<input type="hidden" name="y1" value="" />
									<!-- правый нижний угол -->
									<input type="hidden" name="x2" value="" />
									<input type="hidden" name="y2" value="" />
				<!-- /часть для обрезки фото -->
									
				
				<label for="teg" class="sr-only">добавить тег</label>
				<input type="text" id="teg1" class="form-control " placeholder="добавить тег" required autofocus>
				<label for="teg" class="sr-only">добавить тег</label>
				<input type="text" id="teg2" class="form-control " placeholder="добавить тег" >
				<label for="teg" class="sr-only">добавить тег</label>
				<input type="text" id="teg3" class="form-control " placeholder="добавить тег" >
				<br>
				<textarea class="form-control" rows="3" placeholder="коментарий"></textarea>
				<br>
				<input type="submit" name="t1" id="t1" class="btn btn-lg btn-primary btn-block cnopka" value="сохранить">
			<!-- /форма для выхода -->	
			</form>
			<form class="form-exit">
				<br>
				<input type="submit" name="exit" id="exit" class="btn btn-lg btn-primary btn-block cnopka" href="{{ url_for('logout') }}" value="выйти">
			</form>
        </div>
		
		
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
							<!-- обрезка фото -->
							<div> 
									<!-- ссылку на фото надо будет убрать, id важен -->
								<img src={{url_for('static', filename = filename )}} class="photo" id="photo">

								<script type="text/javascript" src={{url_for('static', filename = "jquery-1.5.1.min2.js")}}></script>
								<script type="text/javascript" src={{url_for('static', filename = "jquery.imgareaselect.pack2.js")}}></script>
								<script type="text/javascript" src={{url_for('static', filename = "coordinat2.js")}}> </script>
							</div>
        </div>
		
      </div>
    </div>
	
  </body>
</html>
