<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

  <title>Project Structure</title>
<link rel="shortcut icon"  type="image/x-icon" href={{url_for('static', filename = 'Photo/favicon.ico')}}>

    <!-- Последняя компиляция и сжатый CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Дополнение к теме -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Последняя компиляция и сжатый JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity=								"sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Custom styles for this template -->
    <link href={{url_for('static', filename = "signin.css")}} rel="stylesheet">
	
	
  </head>

  <body>
	<div id="osn">
	<!-- /вход            ---------------------------           -->
      <div class="container" id="vhod">

      <form action="" class="form-signin" method="post">
        <h2 class="form-signin-heading">Вход на <br>Conspect structure </h2>
        {{ Lform.hidden_tag() }}
        <p>{{Lform.username.label(class="sr-only", for="inputLog")}}<br>
          {{ Lform.username(class="form-control", id="inputLog", placeholder="Логин") }}
          {% for error in Lform.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}</p>
        <p>{{Lform.password.label(class="sr-only", for="inputLog")}}
          {{ Lform.password(class="form-control", id="inputPassword", placeholder="Пароль") }}
          {% for error in Lform.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}</p>
        <p>{{ Lform.remember_me(class="checkbox",value="remember-me", id="check_box") }} {{ Lform.remember_me.label(for="check_box") }}</p>
        {{ Lform.submit1(class="btn btn-lg btn-primary btn-block cnopka") }}
      </form>
      <div class="form-signin">
	<a class="btn btn-lg btn-primary btn-block cnopka" href="{{ url_for('registration')}}" id="reg">Перейти к регистрации</a>
	</div>
    </div>
      <!-- /container -->
	</div>

    <!-- скрипт для регистрации -->
  </body>
</html>
